.datamaps-hoverover {
  font-family: inherit !important;
}

.hoverinfo {
  background-color: #16203f !important;
  border: 0 !important;
  border-radius: 5px !important;
  padding: 10px !important;
  box-shadow: inherit !important;
}
